@font-face {
    font-family: "Pixeboy";
    src: url("./Fonts/Pixeboy.ttf") format("truetype");
}

@font-face {
    font-family: "VinaSans";
    src: url("./Fonts/VinaSans-Regular.ttf") format("truetype");
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#title{
    position: absolute;
    top: 0px;
    left: 30px;
    font-family: "VinaSans";
    font-size: 2em;
    font-weight: 900;
}

#score {
    position: absolute;
    top: 30px;
    right: 30px;
    font-family: "Pixeboy";
    font-size: 2em;
    font-weight: 900;
}

#introduction {
    width: 350px;
    height: 150px;
    position: absolute;
    font-weight: 600;
    font-size: 0.8em;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    text-align: center;
    transition: opacity 2s;
}

#restart {
    position: absolute;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    background-color: transparent;
    font-weight: 700;
    font-size: 35px;
    font-family: "Pixeboy", "Segoe UI", Tahoma, Verdana, sans-serif;
    display: none;
    cursor: pointer;
}

#restart>p{
    padding: 10px;
    margin:0;
}

#restart:hover{
    border-color: transparent;
    background-color: black;
    color: #e4fab5;
}

#perfect {
    position: absolute;
    opacity: 0;
    transition: opacity 2s;
}

::selection{
    background-color: transparent;
}
